<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=10">

		<title>Patreon Picker - Login</title>
		<link rel="icon" type="image/png" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="content">
		    <div class="header">
                <h1 class="header_text">Patreon Picker v{{ .version }} &#128073;&#128129;</h1>
                <img class="header_img"  src="/img/header.png" alt="Header" />
            </div>

			<div class="content_body">
				<h2>Welcome to the Patreon Picker!</h2>
				<p>
				You have to log in to be able to go any further.
				</p>
				<a href="{{ .link }}"><button>Login with Patreon!</button></a>
			</div>
		</div>
	</body>
</html>

