<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=10">

		<title>Patreon Picker - Error</title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="icon" type="image/png" href="/img/favicon.ico" />
	</head>
	<body>
		<div class="content">
			<h1 class="header_text">Patreon Picker v{{ .version }} &#128073;&#128129;</h1>
			<img class="header_img"  src="/img/header.png" alt="Header" />
			<div class="content_body">
				<h2>Oops!</h2>
				<p>{{ .message }}</p>
			</div>
		</div>
	</body>
</html>

